{% extends "layout.html" %}
{% block content %}

<section class="content-section">

    			<form name="predictForm" method="POST" action="/predict" onsubmit="return validateForm()">
    				 <div class="form-group">

    				 		<div class="row">

                                <h1>Accident Safety Predictor</h1>

    				 		<p> This project will predict the liklihood of a severe car accident given a variety of factors. The accuracy of prediction is approximately 80%.  Please enter the circumstances below, and click on the "Predict" button.
                            </p>

                          <h2>
                          <p class="text-primary">
							  {% if label %}
                                  {{ label }}
                              {% endif %}
                          </p>
							</h2>


                            </div>

                     <div class="row">


                    <div class="col-auto">

                        <hr>
                <p>Please select the factors of the accident.</p>
                <label for="promo">Crash Related Factors</label><br>

                 <!--  CRSS Codes: Dropdowns-->
                <select name="cf" class="cf">
                <option>3 Other Maintenance or Construction-Created Condition</option>
                <option>5 Surface Under Water</option>
                <option>7 Surface Washed Out (Caved in, Road Slippage)</option>
                <option>13 Aggressive Driving/Road Rage by Non-Contact Vehicle Driver</option>
                <option>14 Motor Vehicle Struck By Falling Cargo or Something That Came Loose From  or Something That Was Set in Motion By a Vehicle</option>
                <option>15 Non-Occupant Struck By Falling Cargo, or Something Came Loose From or Something That Was Set In Motion By A Vehicle</option>
                <option>16 Non-Occupant Struck Vehicle</option>
                <option>17 Vehicle Set In Motion By Non-Driver</option>
                <option>19 Recent Previous Crash Scene Nearby</option>
                <option>20 Police-Pursuit-Involved</option>
                <option>21 Within Designated School Zone</option>
                <option>23 Indication of a Stalled/Disabled Vehicle</option>
                <option>24 Unstabilized Situation Began and All Harmful Events Occurred Off of the Roadway</option>
                <option>25 Toll Booth/Plaza Related</option>
                <option>26 Backup Due to Prior Non-Recurring Incident</option>
                <option>27 Backup Due to Prior Crash</option>
                <option>28 Backup Due to Regular Congestion</option>
                </select>

                <p><small>Factors from Accident File = 0/1 </small></p>


              <!--  Body Type  -->
                <label for="bdtyp_im">Body Type</label><br>
                <select name="bdtyp_im" class="bdtyp_im">
                    <optgroup label="AUTOMOBILES">
                    <option>1 Convertible (Excludes Sun-Roof, T-Bar)</option>
                    <option>2 2-Door Sedan, Hardtop, Coupe</option>
                    <option>3 3-Door/2-Door Hatchback</option>
                    <option>4 4-Door Sedan, Hardtop</option>
                    <option>5 5-Door/4-Door Hatchback</option>
                    <option>6 Station Wagon (Excluding Van And Truck Based)</option>
                    <option>7 Hatchback, Number Of Doors Unknown</option>
                    <option>8 Sedan/Hardtop, Number of Doors Unknown</option>
                    <option>9 Other or Unknown Auto Type</option>
                    <option>17 3-Door Coupe</option>
                    </optgroup>
                    <optgroup label="AUTOMOBILE DERIVATIVES">
                    <option>10 Auto Based Pickup (Includes El Camino, Caballero...)</option>
                    <option>11 Auto Based Panel (Cargo Station Wagon, Ambulance/Hearse)</option>
                    <option>12 Large Limousine (More Than Four Side Doors Or Stretched Chassis)</option>
                    <option>13 Three Wheel Auto Or Auto Derivative</option>
                    </optgroup>
                    <optgroup label="UTILITY VEHICLES">
                    <option>14 Compact Utility (ANSI D-16 Util. Veh.,“Small” and “Midsize”)</option>
                    <option>15 Large Utility (ANSI D-16 Util. Veh.,“Full Size” and “Large”)</option>
                    <option>16 Utility Station Wagon</option>
                    <option>19 Utility Vehicle, Unknown Body Type</option>
                    </optgroup>
                    <optgroup label="VAN-BASED LIGHT TRUCKS (GVWR≤10,000 LBS)">
                    <option>20 Minivan</option>
                    <option>21 Large Van – Includes Van-Based Buses</option>
                    <option>22 Step Van Or Walk-In Van (GVWR less than or equal to 10,000 lbs)</option>
                    <option>28 2Other Van Type</option>
                    <option>29 Unknown Van Type</option>
                    </optgroup>
                    <optgroup label="LIGHT CONVENTIONAL TRUCKS (PICKUP STYLE CAB, GVWR≤10,000 LBS)">
                    <option>30 Compact Pickup (S-10, LUV, Ram 50, Dakota, Sonoma...)</option>
                    <option>31 Standard Pickup (C10-C35, Silverado, Sierra, T100...)</option>
                    <option>32 Pickup With Slide-In Camper (2016-2017 Only)</option>
                    <option>34 Light Pickup</option>
                    <option>39 Unknown (Pickup Style) Light Conventional Truck</option>
                    </optgroup>
                    <optgroup label="OTHER LIGHT TRUCKS (GVWR ≤10,000 LBS)">
                    <option>40 Cab Chassis Based (Incl. Rescue Veh., Dump, And Tow Truck)</option>
                    <option>41 Truck Based Panel</option>
                    <option>45 Other Light Conventional Truck Type</option>
                    <option>48 Unknown Light Truck Type</option>
                    </optgroup>
                    <optgroup label="BUSES (EXCLUDES VAN BASED BUSES WITH A GVWR ≤ 10,000 LBS)">
                    <option>50 School Bus (Designed To Carry Students, Not Cross Country Or Transit)</option>
                    <option>51 Cross Country/Intercity Bus (i.e., Greyhound)</option>
                    <option>52 Transit Bus (City Bus)</option>
                    <option>55 Van-Based Bus (GVWR greater than 10,000 lbs)</option>
                    <option>58 Other Bus Type</option>
                    <option>59 Unknown Bus Type</option>
                    </optgroup>
                    <optgroup label="MEDIUM/HEAVY TRUCKS (GVWR > 10,000 LBS)">
                    <option>60 Step Van (GVWR greater than 10,000 lbs)</option>
                    <option>61 Single-Unit Straight Truck or Cab-Chassis (GVWR 10,001-19,500 lbs)</option>
                    <option>62 Single-Unit Straight Truck or Cab-Chassis (GVWR 19,501-26,000 lbs)</option>
                    <option>63 Single-Unit Straight Truck or Cab-Chassis (GVWR > than 26,000 lbs)</option>
                    <option>64 Single Unit Straight Truck or Cab-Chassis (GVWR unknown)</option>
                    <option>66 Truck-Tractor (Any Number Of Trailing Units and Weight)</option>
                    <option>67 Medium/Heavy Pickup (GVWR > 10,000 lbs)</option>
                    <option>71 Unknown Single-Unit or Combo-Unit Med. Truck (GVWR 10,001-26,000 lbs)</option>
                    <option>72 Unknown Single-Unit or Combo-Unit Heavy Truck (GVWR > than 26,000 lbs)</option>
                    <option>78 Unknown Medium/Heavy Truck Type</option>
                    </optgroup>
                    <optgroup label="MOTOR HOMES">
                    <option>42 Light Truck Based Motor Home (Chassis Mounted)</option>
                    <option>65 Medium/Heavy Truck-Based Motor Home</option>
                    <option>73 Camper or Motor Home, Unknown Truck Type</option>
                    </optgroup>
                    <optgroup label="MOTORED CYCLES, MOPEDS, ALL-TERRAIN VEHICLES">
                    <option>80 Two Wheel Motorcycle (excluding motor scooters)</option>
                    <option>81 Moped (Motorized Bicycle)</option>
                    <option>82 Three-wheel Motorcycle (2 Rear Wheels)</option>
                    <option>83 Off-Road Motorcycle</option>
                    <option>84 Motor Scooter</option>
                    <option>85 Unenclosed 3 Wheel Motorcycle/Unenclosed Autocycle (1 Rear Wheel)</option>
                    <option>86 Enclosed 3 Wheel Motorcycle/Enclosed Autocycle (1 Rear Wheel)</option>
                    <option>87 Unknown 3 Wheel Motorcycle Type</option>
                    <option>88 Other Motored Cycle Type (Mini-bikes, Pocket Motorcycles)</option>
                    <option>89 Unknown Motored Cycle Type</option>
                    <option>90 ATV (All-Terrain Vehicle) / ATC (All-Terrain Cycle)</option>
                    </optgroup>
                    <optgroup label="OTHER VEHICLES">
                    <option>91 Snowmobile</option>
                    <option>92 Farm Equipment Other Than Trucks</option>
                    <option>93 Construction Equipment Other Than Trucks (Includes Graders)</option>
                    <option>94 Low Speed Vehicle (LSV)/Neighborhood Electric Vehicle (NEV)</option>
                    <option>95 Golf Cart</option>
                    <option>96 Recreational Off-Highway Vehicle (ROV)</option>
                    <option>97 Other Vehicle Type (Includes Go-Cart, Fork-Lift, Street Sweeper)</option>
                    </optgroup>
                </select><br>

                <p><small>Body type of vehicle involved in crash</small></p>


                <!--  Driver Related Factors  -->
                <label for="dr_sf">Driver Factors</label><br>
                <select name="dr_sf" class="dr_sf">
                    <option>6 Careless Driving</option>
                    <option>8 Road Rage/Aggressive Driving</option>
                    <option>9 Emergency Services Personnel</option>
                    <option>10 Looked But Did Not See</option>
                    <option>16 Police or Law Enforcement Officer</option>
                    <option>18 Traveling on Prohibited Trafficways</option>
                    <option>20 Leaving Vehicle Unattended with Engine Running; Leaving Vehicle Unattended in Roadway</option>
                    <option>21 Overloading or Improper Loading of Vehicle with Passenger or Cargo</option>
                    <option>22 Towing or Pushing Vehicle Improperly</option>
                    <option>23 Failing to Dim Lights or to Have Lights on When Required</option>
                    <option>24 Operating Without Required Equipment</option>
                    <option>32 Opening Vehicle Closure into Moving Traffic or Vehicle is in Motion or Operating at Erratic or Suddenly Changing Speeds</option>
                    <option>36 Operating Vehicle in an Erratic, Reckless, Careless or Negligent Manner</option>
                    <option>37 Police Pursuing this Driver or Police Officer in Pursuit</option>
                    <option>50 Driving Wrong Way on One-Way Trafficway</option>
                    <option>51 Driving on Wrong Side of Two-Way Trafficway</option>
                    <option>54 Stopping in Roadway (Vehicle Not Abandoned)</option>
                    <option>55 Improper Management of Vehicle Controls</option>
                    <option>56 Object Interference with Vehicle Controls</option>
                    <option>57 Driving with Tire-Related Problems</option>
                    <option>58 Over Correcting</option>
                    <option>59 Getting Off/Out of a Vehicle</option>
                    <option>60 Alcohol and/or Drug Test Refused</option>
                    <option>91 Non-Traffic Violation Charged (Manslaughter, Homicide or Other)</option>
                </select><br>

                <p><small>Driver Related Factors</small></p>

                    </div>

                     </div>

              <div class="row">
                <div class="col mx-auto">
							<br>

                <!-- Accident Factors -->

                <!-- Intersection Dropdown-->
                <select name="type_int" class="type_int">
                    <option>1 Not an Intersection</option>
                    <option>2 Four-Way Intersection</option>
                    <option>3 T-Intersection</option>
                    <option>4 Y-Intersection</option>
                    <option>5 Traffic Circle</option>
                    <option>6 Roundabout</option>
                    <option>7 Five-Point, or More</option>
                    <option>10 L-Intersection</option>
                </select>
						    <label for="type_int">Intersection Type</label><br>
                <p><small>Intersection type</small></p>

                <!--  Rel Road -->
                <select name="rel_road" class="rel_road">
                    <option>1 On Roadway</option>
                    <option>2 On Shoulder</option>
                    <option>3 On Median</option>
                    <option>4 On Roadside</option>
                    <option>5 Outside Trafficway</option>
                    <option>6 Off Roadway – Loc Unkn.</option>
                    <option>7 In Parking Lane/Zone</option>
                    <option>8 Gore</option>
                    <option>10 Separator</option>
                    <option>11 Cont. Left Turn Lane</option>
                </select>
						    <label for="rel_road">Relation to Roadway</label><br>
                <p><small>Where on the road</small></p>


            <!--  Alcohol  -->
                <select name="alchl_im" class="alchl_im">
                    <option>1 Alcohol Involved</option>
                    <option>2 No Alcohol Involved</option>
                </select><br>
                        <label for="alchl_im">Alcohol</label><br>
                        <p><small>Alcohol Involved</small></p>

            <!--  UrbanCity  -->
                <select name="urbancity" class="urbancity">
                    <option>1 Urban</option>
                    <option>2 Rural</option>
                </select><br>
                        <label for="urbancity">Urban/City</label><br>
                        <p><small>City or rural?</small></p>


            <!--  Speed  -->
                <select name="speed" class="speed">
                    <option>Less than 30 MPH</option>
                    <option>Between 30 and 65 MPH</option>
                    <option>More than 65 MPH</option>
                </select><br>
                        <label for="speed">Speed</label><br>
                        <p><small>Speed at time of accident</small></p>



            <!--  Roadway Alignment  -->
                <select name="valign" class="valign">
                    <option>0 Non-Road or Driveway</option>
                    <option>1 Straight</option>
                    <option>2 Curve Right</option>
                    <option>3 Curve Left</option>
                    <option>4 Curve – Unknown Dir.</option>
                </select><br>
                        <label for="valign">Roadway Alignment</label><br>
                        <p><small>Vehicle alignment with Road</small></p>


            <!--  Surface Conditions  -->
                <select name="vsurcond" class="vsurcond">
                    <option>0 Non-Road or Driveway</option>
                    <option>1 Dry</option>
                    <option>2 Wet</option>
                    <option>3 Snow</option>
                    <option>4 Ice/Frost</option>
                    <option>5 Sand</option>
                    <option>6 Water</option>
                    <option>7 Oil</option>
                    <option>8 Other</option>
                    <option>10 Slush</option>
                    <option>11 Mud, Dirt, Gravel</option>
                </select><br>
                        <label for="vsurcond">Surface Conditions</label><br>
                        <p><small>Road Surface Conditions</small></p>

             <!-- Drugs  -->
                <select name="drugs" class="drugs">
                    <option>No (Drugs Not Involved)</option>
                    <option>Yes (Drugs Involved)</option>
                </select><br>
                        <label for="drugs">Drugs</label><br>
                        <p><small>Are drugs involved?</small></p>
                                
            </div>

                <div class="col mx-auto">
                  <br>

                  <!--  Lighting -->
                  <select name="lighting" class="lighting">
                    <option>1 Daylight</option>
                    <option>2 Dark – Not Lighted</option>
                    <option>3 Dark – Lighted</option>
                    <option>4 Dawn</option>
                    <option>5 Dusk</option>
                    <option>6 Dark – Unknown Lighting</option>
                    <option>7 Other</option>
                  </select>
  						    <label for="lighting">Lighting Conditions</label>
  						    <p><small>From Accident File </small></p>


                  <!--  Work Zone -->
                  <select name="wrk_zone" class="wrk_zone">
                    <option>0 None</option>
                    <option>1 Construction</option>
                    <option>2 Maintenance</option>
                    <option>3 Utility</option>
                  </select><br>
                    <label for="wrk_zone">Work Zone</label>
                  <p><small>Choose work zone</small></p>

                  <select name="weather_im" class="weather_im">
                    <option>1 Clear</option>
                    <option>2 Rain</option>
                    <option>3 Sleet or Hail</option>
                    <option>4 Snow</option>
                    <option>5 Fog, Smog, Smoke</option>
                    <option>6 Severe Crosswinds</option>
                    <option>7 Blowing Sand, Soil, Dirt</option>
                    <option>8 Other</option>
                    <option>10 Cloudy</option>
                    <option>11 Blowing Snow</option>
                    <option>12 Freezing Rain or Drizzle</option>
                  </select>
  						    <label for="weather_im">Weather</label><br>
                  <p><small>Atmospheric Conditions</small></p>


                <select name="old_car" class="old_car">
                    <option>No</option>
                    <option>Yes</option>
                  </select><br>
  						    <label for="old_car">Older Car?</label><br>
                  <p><small>Model Year < 2011</small></p>


                <select name="speedrel" class="speedrel">
                    <option>0 No</option>
                    <option>2 Yes, Racing</option>
                    <option>3 Yes, Exceeded Speed Limit</option>
                    <option>4 Yes, Too Fast for Conditions</option>
                    <option>5 Yes, Specifics Unknown</option>
                  </select><br>
                <label for="speedrel">Speed Related</label><br>
                  <p><small>Was excessive speed a factor</small></p>


                <select name="vprofile" class="vprofile">
                    <option>0 Non-Road or Driveway</option>
                    <option>1 Level</option>
                    <option>2 Grade, Unknown Slope</option>
                    <option>3 Hillcrest</option>
                    <option>4 Sag (Bottom)</option>
                    <option>5 Uphill</option>
                    <option>6 Downhill</option>
                  </select><br>
  						    <label for="vprofile">Roadway Grade</label><br>
                  <p><small>What was the grade of the roadway</small></p>


                <select name="pcrash1_im" class="pcrash1_im">

                    <option>0 No/Unknown if Driver Present</option>
                    <option>1 Going Straight</option>
                    <option>2 Decelerating in Road</option>
                    <option>3 Accelerating in Road</option>
                    <option>4 Starting in Road</option>
                    <option>5 Stopped in Roadway</option>
                    <option>6 Passing or Overtaking Another Veh.</option>
                    <option>7 Disabled or Parked in Travel Lane</option>
                    <option>8 Leaving a Parking Position</option>
                    <option>9 Entering a Parking Position</option>
                    <option>10 Turning Right</option>
                    <option>11 Turning Left</option>
                    <option>12 Making a U-turn</option>
                    <option>13 Backing Up (Other than to Park)</option>
                    <option>14 Negotiating a Curve</option>
                    <option>15 Changing Lanes</option>
                    <option>16 Merging</option>
                    <option>17 Successful Corrective Action</option>
                    <option>98 Other</option>
                  </select><br>
  						    <label for="pcrash1_im">Pre-Event Movement</label><br>
                  <p><small>Prior to Recognition of Critical Event</small></p>

            <!--  Driver Impaired  -->
                <select name="impaired" class="impaired">
                    <option>0 None/Apparently Normal</option>
                    <option>1 Ill, Blackout</option>
                    <option>2 Asleep or Fatigued</option>
                    <option>3 Walking with a Cane or Crutches, etc.</option>
                    <option>4 Paraplegic or in Wheelchair</option>
                    <option>5 Impaired Due to Previous Injury</option>
                    <option>6 Deaf</option>
                    <option>7 Blind</option>
                    <option>8 Emotional (Depressed, Angry, Disturbed, etc.)</option>
                    <option>9 DUI of Alcohol, Drugs or Meds</option>
                    <option>10 Physical Impairment – No Details</option>
                    <option>95 No/Unknown if Driver Present</option>
                    <option>96 Other Physical Impairment</option>
                </select><br>
                        <label for="impaired">Driver Impaired</label><br>
                        <p><small>Was the Driver Impaired?</small></p>


            <!--  Restraint Use  -->
                <select name="rest_use" class="rest_use">

                    <option>0 Not Applicable</option>
                     <option>1 Shoulder Belt Only Used</option>
                     <option>2 Lap Belt Only Used</option>
                     <option>3 Lap and Shoulder Belt Used</option>
                     <option>4 Child Restraint Type Unknown</option>
                     <option>5 DOT-Compliant Motorcycle Helmet</option>
                     <option>7 None Used</option>
                     <option>8 Restraint Used – Type Unknown</option>
                     <option>10 Child Restraint System – Forward Facing</option>
                     <option>11 Child Restraint System – Rear Facing</option>
                     <option>12 1Booster Seat</option>
                     <option>16 Helmet, Other than DOT-Compliant Motorcycle Helmet</option>
                     <option>17 No Helmet</option>
                     <option>19 Helmet, Unknown if DOT-Compliant</option>
                     <option>20 None Used / Not Applicable</option>
                     <option>29 Unknown if Helmet Worn</option>
                     <option>96 Not a Motor Vehicle Occupant</option>
                     <option>97 Other</option>

                </select><br>
                        <label for="rest_use">Restraint Use</label><br>
                        <p><small>Restraint System/Helmet Use</small></p>


            <!--  Restraint Misuse  -->
                <select name="rest_mis" class="rest_mis">
                    <option>No</option>
                    <option>Yes</option>
                </select><br>
                        <label for="rest_mis">Restraint Misuse</label><br>
                        <p><small>Were restraints miused?</small></p>


            <!--  Restraint Misuse  -->
                <select name="mfactor" class="mfactor">

                    <option>0 None</option>
                    <option>1 Tires</option>
                    <option>2 Brake System</option>
                    <option>3 Steering System-Tie Rod, Kingpin, Ball Joint, etc.</option>
                    <option>4 Suspension-Springs, Shock Absorbers, Struts, etc.</option>
                    <option>5 Power Train-Universal Joint, Drive Shaft, Transmission, etc.</option>
                    <option>6 Exhaust System</option>
                    <option>7 Headlights</option>
                    <option>8 Signal Lights</option>
                    <option>9 Other Lights</option>
                    <option>10 Wipers</option>
                    <option>11 Wheels</option>
                    <option>12 Mirrors</option>
                    <option>13 Windows/Windshield</option>
                    <option>14 Body, Doors</option>
                    <option>15 Truck Coupling/Trailer Hitch/Safety Chains</option>
                    <option>16 Safety Systems</option>
                    <option>17 Vehicle Contributing Factors-No Details</option>
                    <option>97 Other</option>

                </select><br>
                        <label for="mfactor">Vehicle Factors</label><br>
                        <p><small>Contributing Circumstances, Motor Vehicle</small></p>


            <!--  Driver Distractions  -->
                <select name="mdrdstrd" class="mdrdstrd">

                    <option>0 Not Distracted</option>
                    <option>1 Looked But Did Not See</option>
                    <option>3 By Other Occupants</option>
                    <option>4 By a Moving Object In Vehicle</option>
                    <option>5 While Talking Or Listening To Cellular Phone</option>
                    <option>6 While Manipulating Cellular Phone</option>
                    <option>7 While Adjusting Audio Or Climate Controls</option>
                    <option>9 While Using Other Component/Controls Integral To Vehicle</option>
                    <option>10 While Using Or Reaching For Device/Object Brought into Vehicle</option>
                    <option>12 Distracted By Outside Person, Object Or Event</option>
                    <option>13 Eating Or Drinking</option>
                    <option>14 Smoking Related</option>
                    <option>15 Other Cellular Phone Related</option>
                    <option>16 No Driver Present/Unknown if Driver Present</option>
                    <option>17 Distraction/Inattention</option>
                    <option>18 Distraction/Careless</option>
                    <option>19 Careless/Inattentive</option>
                    <option>92 Distraction (Distracted), Details Unknown</option>
                    <option>93 Inattention (Inattentive), Details Unknown</option>
                    <option>96 Not Reported</option>
                    <option>97 Lost In Thought/Day Dreaming</option>
                    <option>98 Other Distraction</option>
                </select><br>
                        <label for="mdrdstrd">Driver Distractions</label><br>
                        <p><small>Driver Distracted By</small></p>

                </div>

                  <div class="col mx-auto">

							  <br>
                      Click here to predict!
							  <button class="btn btn-lg btn-primary" type="submit">
							  	Predict
							  </button>
                  </div>


                  </div>

						</div>

  					</div>
    			</div>
    		</form>
    	</div>
    </div>
</section>

{% endblock %}
